{% extends "base.html" %}
{% block title %}
{{ category.title }} | Форум
{% endblock %}
{% block body %}
<a href="{% url 'index' %}">Начало</a> &gt; <a href='{{ request.path }}'>{{ category.title }}</a><br>
<h1>{{ category.title }}</h1>
<a href="{% url 'new_content' 'topic' category.pk %}?back={{ request.path }}">Нова тема</a>
{% if topics|length == 0 %}
<div>Все още няма теми в тази категория</div>
{% else %}
<table class="CSSTableGenerator">
<tr>
    <td>Заглавие</td>
    <td>Брой мнения</td>
    <td>Последно мнение</td>
</tr>

{% for topic in topics %}
    <tr>
        <td><a href="{% url 'topic' topic.pk %}">{{ topic.title }}</a></td>
        <td>{{ topic.posts }}</td>
        <td>
            <div><a href="{% url 'profile' topic.last_modified_from.username %}">{{ topic.last_modified_from.username }}</a></div>
            <div>{{ topic.last_modified }}</div>
        </td>
    </tr>
{% endfor %}

</table>
{% endif %}

<div class="pagination">
    <p class="step-links">
        {% if topics.has_previous %}
            <a href="?page={{ topics.previous_page_number }}">&lt; Предишна</a>
        {% endif %}

        <p class="current">
            Страница {{ topics.number }} от {{ topics.paginator.num_pages }}.
        </p>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}">Следваща &gt;</a>
        {% endif %}
    </p>
</div>
{% endblock %}