<a href='/fothon'>Начало</a> &gt; <a href='{{ request.path }}'>{{ category.title }}</a><br>
<a href='../topic/{{ category_id }}/new?back={{ request.path }}'>New Topic</a>
{% if topics|length == 0 %}
<div><span>There is no topics in this category</span></div>
{% else %}
<table>
<tr>
    <td>Title</td>
    <td>Posts</td>
    <td>Last Post</td>
</tr>

{% for topic in topics %}
    <tr>
        <td><a href='../topic/{{ topic.pk }}'>{{ topic.title }}</a></td>
        <td>{{ topic.posts }}</td>
        <td>
            <div>{{ topic.last_modified_from.username }}</div>
            <div>{{ topic.last_modified }}</div>
        </td>
    </tr>
{% endfor %}

</table>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if topics.has_previous %}
            <a href="?page={{ topics.previous_page_number }}">&lt; Previous</a>
        {% endif %}

        <span class="current">
            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}">Next &gt;</a>
        {% endif %}
    </span>
</div>