{% for category in main_category.category_set.get_queryset %}
{% if category.type == 'R' or category.type == 'S' and is_special %}
    <div>
        <span>{{ category.title }}</span>
        {% for subcategory in category.category_set.get_queryset %}
        {% if subcategory.type == 'R' or subcategory.type == 'S' and is_special %}
            <div>
                <span><a href="{{ subcategory.pk }}" >{{ subcategory.title }}</a></span>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endfor %}