{% extends "base.html" %}
{% block title %}
Търсене | Форум
{% endblock %}
{% block body %}
<form action="{% url 'search' %}" method="post"> {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Search" />
</form>

{% if search_result|length >= 0 %}
<h1>Търсене за "{{ search_text }}"</h1>
{% if search_result|length == 0 %}
<p>Няма намерени резултати.</p>
{% else %}
<table>
    {% if type == 'post' %}
    {% for post in search_result %}
    <table class="CSSTableGenerator">
    <tr>
        <td>Тема: <a href="{% url 'topic' post.topic.pk %}">{{ post.topic.title }}</a></td>
    <tr>
        <td>автор: <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></td>
        <td>създадено: {{ post.created_at }}</td>
    </tr>
    <tr>
        <td class="topic_td">{{ post.text|linebreaksbr }}</td>
    </tr>
    </table>
    {% endfor %}
    {% elif type == 'topic' %}
    {% for topic in search_result %}
    <tr>
    <td><a href="{% url 'topic' topic.pk %}">{{ topic.title }}</a></td>
    </tr>
    {% endfor %}
    {% elif type == 'category' %}
    {% for category in search_result %}
    <tr>
    <td><a href="{% url 'category' category.pk %}">{{ category.title }}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endif %}
{% endif %}
{% endblock %}