<a href='/fothon'>Начало</a> &gt; <a href='/fothon/{{ topic.category.pk }}'>{{ topic.category.title }}</a> &gt; <a href='{{ request.path }}'>{{ topic.title }}</a><br>
<a href='/fothon/post/{{ topic_id }}/new?back={{ request.path }}'>New Post</a>
{% if posts|length == 0 %}
<div><span>There is no posts in this topic</span></div>
{% else %}
<table>

{% for post in posts %}
    <table>
    <tr>
        <td>author: <a href='../topic/{{ topic.pk }}'>{{ post.author.username }}</a></td>
        <td>Created at: {{ post.created_at }}</td>
    </tr>
    <tr>
        <td>{{ post.text|linebreaksbr }}</td>
    </tr>
    </table>
{% endfor %}

</table>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">&lt; Previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next &gt;</a>
        {% endif %}
    </span>
</div>