{% extends "base.html" %}
{% block title %}
{{ topic.title }} | Форум
{% endblock %}
{% block body %}
<a href="{% url 'index' %}">Начало</a> &gt; <a href="{% url 'category' topic.category.pk %}">{{ topic.category.title }}</a> &gt; <a href='{{ request.path }}'>{{ topic.title }}</a><br>
<h1>{{ topic.title }}</h1>
<a href="{% url 'new_content' 'post' topic_id %}?back={{ request.path }}">Ново мнение</a>
{% if posts|length == 0 %}
<div>Все още няма мнения в тази тема</div>
{% else %}
<table class="CSSTableGenerator">

{% for post in posts %}
    <table class="CSSTableGenerator">
    <tr>
        <td>автор: <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></td>
        <td>създадено: {{ post.created_at }}</td>
    </tr>
    <tr>
        <td class="topic_td">{{ post.text|linebreaksbr }}</td>
    </tr>
    </table>
{% endfor %}

</table>
{% endif %}

<div class="pagination">
    <p class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">&lt; Предишна</a>
        {% endif %}

        <p class="current">
            Страница {{ posts.number }} от {{ posts.paginator.num_pages }}.
        </p>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Следваща &gt;</a>
        {% endif %}
    </p>
</div>
{% endblock %}